/*EVENT LIST */
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");



html {
     font-family: 'Lato', sans-serif     !important;
}


body {
	
	background-color: black;
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.btn-letssubmit { 
  color: #FFFFFF; 
  background-color: #333333; 
  border-color: #FFFFFF; 
} 
 
.btn-letssubmit:hover, 
.btn-letssubmit:focus, 
.btn-letssubmit:active, 
.btn-letssubmit.active, 
.open .dropdown-toggle.btn-letssubmit { 
  color: #FFFFFF; 
  background-color: #9C9C9C; 
  border-color: #FFFFFF; 
} 
 
.btn-letssubmit:active, 
.btn-letssubmit.active, 
.open .dropdown-toggle.btn-letssubmit { 
  background-image: none; 
} 
 
.btn-letssubmit.disabled, 
.btn-letssubmit[disabled], 
fieldset[disabled] .btn-letssubmit, 
.btn-letssubmit.disabled:hover, 
.btn-letssubmit[disabled]:hover, 
fieldset[disabled] .btn-letssubmit:hover, 
.btn-letssubmit.disabled:focus, 
.btn-letssubmit[disabled]:focus, 
fieldset[disabled] .btn-letssubmit:focus, 
.btn-letssubmit.disabled:active, 
.btn-letssubmit[disabled]:active, 
fieldset[disabled] .btn-letssubmit:active, 
.btn-letssubmit.disabled.active, 
.btn-letssubmit[disabled].active, 
fieldset[disabled] .btn-letssubmit.active { 
  background-color: #333333; 
  border-color: #FFFFFF; 
} 
 
.btn-letssubmit .badge { 
  color: #333333; 
  background-color: #FFFFFF; 
}

.btn-twitris { 
  color: #ffffff; 
  background-color: #476666; 
  border-color: #232323; 
} 
 
.btn-twitris:hover, 
.btn-twitris:focus, 
.btn-twitris:active, 
.btn-twitris.active, 
.open .dropdown-toggle.btn-twitris { 
  color: #ffffff; 
  background-color: #232323; 
  border-color: #232323; 
} 
 
.btn-twitris:active, 
.btn-twitris.active, 
.open .dropdown-toggle.btn-twitris { 
  background-image: none; 
} 
 
.btn-twitris.disabled, 
.btn-twitris[disabled], 
fieldset[disabled] .btn-twitris, 
.btn-twitris.disabled:hover, 
.btn-twitris[disabled]:hover, 
fieldset[disabled] .btn-twitris:hover, 
.btn-twitris.disabled:focus, 
.btn-twitris[disabled]:focus, 
fieldset[disabled] .btn-twitris:focus, 
.btn-twitris.disabled:active, 
.btn-twitris[disabled]:active, 
fieldset[disabled] .btn-twitris:active, 
.btn-twitris.disabled.active, 
.btn-twitris[disabled].active, 
fieldset[disabled] .btn-twitris.active { 
  background-color: #476666; 
  border-color: #232323; 
} 
 
.btn-twitris .badge { 
  color: #476666; 
  background-color: #ffffff; 
}


.carousel-inner {
 > .item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index:0;
  transition: none;
  transform: translate3d(0,0,0) !important;
  &:first-of-type {
    position:relative;
  } 
  }
 > .active {
  opacity: 1;
  z-index:3;
}

 > .next.left,
 > .prev.right {
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  left: 0;
  z-index:2;
  }                                                                                                             
 > .active.left,
 > .active.right {
  z-index:1;
  }
}
.carousel-control {
z-index:4;
}   

/*Rotten Tom Banner*/
.image_banner {
    width: 30%;
    margin-left: 35%;
}

@media (max-width: 350px){
    /*Rotten Tom Banner*/
    .image_banner {
        width: 75%;
        margin-left: 12.5%;
    }
}
@media (min-width: 350px) and (max-width: 768px) {
    /*Rotten Tom Banner*/
    .image_banner {
        width: 60%;
        margin-left: 20%;
    }
}
@media (min-width: 768px) and (max-width: 1010px) {
    /*Rotten Tom Banner*/
    .image_banner {
        width: 50%;
        margin-left: 25%;
    }

}


/*Video Player
*/
#video_player { display: table; line-height: 0; font-size: 0; background: #000; }
#video_player video, #video_player figcaption { display: table-cell; vertical-align: top; }
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; opacity: .5;
transition: 1s opacity; }
#video_player figcaption a img, figure video { width: 100%; height: auto; }
#video_player figcaption a:hover { opacity: 1; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

h5 {padding-bottom: 5px;}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #313131;
    background-color: #313131;
    color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .modal-backdrop {background: white;}

 .modal-container {color:white;}



 .fa.pull-right {
    margin-left: 0.1em;   
}

.date-picker,
.date-container {
    position: relative;
    display: inline-block;
    width: 100%;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.date-container {
    padding: 0px 40px;   
}
.date-picker h2, .date-picker h4 {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.date-container .date {
    text-align: center;
}
.date-picker span.fa {
    position: absolute;
    font-size: 4em;
    font-weight: 100;
    padding: 8px 0px 7px;
    cursor: pointer;
    top: 0px;
}
.date-picker span.fa[data-type="subtract"] {
    left: 0px;
}
.date-picker span.fa[data-type="add"] {
    right: 0px;
}
.date-picker span[data-toggle="calendar"] {
    display: block;
    position: absolute;
    top: -7px;
    right: 45px;
    font-size: 1em !important;
    cursor: pointer;
}

.date-picker .input-datepicker {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width:100%;
}
.date-picker .input-datepicker.show-input {
    display: table;
}

@media (min-width: 768px) and (max-width: 1010px) {
    .date-picker h2{
        font-size: 1.5em; 
        font-weight: 400;  
    }    
    .date-picker h4 {
        font-size: 1.1em;
    }  
    .date-picker span.fa {
        font-size: 3em;
    } 
}

 #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    text-align: center;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
}

/*body.modal-open .content{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}*/
  


input[type=submit]:hover {
     background-position: 0px;
}

.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
margin-top: 10px;
margin-bottom: 30px;
border: none;
padding-top: -10px;
padding-left: 10px;
padding-right: 10px;
}

.movieDesc,
.campaignDesc {
	height: 40px;
}

h1 {text-align: center;
	color: white;
	padding: 20px;
	font-size: 60px;}

.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}	
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}


/* 
 * added new css for anchor tag
 * clear the left float
 * increase width
 */
.event-list > li > a {
	width: 100%;
}
/* 
 * add 100% width to fill the space right
 * also make sure that change doesn't effect 
 * "new releases" images
 */
.event-list > li > a > img,
.event-list > li > img {
	width: 100%;
}

.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #232323;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: #476666 ;
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}

.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
	padding-left: 5px;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;

}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 90%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.twitter a {
	color: rgb(79, 213, 248) !important;
}
.google-plus a {
	color: rgb(221, 75, 57) !important;
}
.power a {
	color: black !important;
}
.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}
.power:hover a {
	color: white !important;
	background-color: black !important;
}

@media (min-width: 768px) {

.movieDesc,
.campaignDesc {
	height: 55px;
}

.event-list > li {
	position: relative;
	display: block;
	width: 100%;
	height: 130px; 
	padding: 0px;
	
}

/* 
 * added new css for anchor tag
 * give it the same dimensions as the date
 */
.event-list > li > a {
	width: 100px;
	height: 130px;
	float: left;
}
/* 
 * add top margin to center the image verically
 *  
 */
.event-list > li > a > img {
	margin-top: 0%;
	height: 100%
}

.event-list > li > time,
.event-list > li > img  {
	display: inline-block;
}
.event-list > li > time,
.event-list > li > img {
	width: 120px;
	float: left;
}
.event-list > li > .info {
	background-color: rgb(245, 245, 245);
	overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
	width: 120px;
	padding: 0px;
	margin: 0px;
}
.event-list > li > time {
	height: 130px;
}
.event-list > li > img {
	margin-top: 4%;
}
.event-list > li > .info {
	position: relative;
	height: 130px;
	text-align: left;
	padding-right: 40px;

}	
.event-list > li > .info > .title,
.event-list > li > .info,
.event-list > li > .info > .desc {
	padding: 2px 2;

}
.event-list > li > .info > ul {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.event-list > li > .social {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 40px;
}
.event-list > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
}
.event-list > li > .social > ul > li {			
	display: block;
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
	display: block;
	width: 40px;
	padding: 1.5px 2px 9px;
}
}

/*JS MENU*/
#menu /*{
			background: #eee;
		}*/
		.mm-panel {
			padding: 0 !important;
		}
		.mm-panel:before,
		.mm-panel:after {
			content: none !important;
			display: none !important;
		}
		.mm-listview {
			height: 100%;
			padding: 0 !important;
			margin: 0 !important;
		}
		.mm-listview li {
			height: 20%;
			overflow: hidden;
		}
		.mm-listview > li > a {
			font-weight: bold;
			line-height: 100px;
			padding: 0 0 0 30px;
			margin-top: -50px;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transition: padding 0.5s ease;
		}
		.mm-listview > li > a:hover {
			padding-left: 40px;
		}
/*		.mm-listview li:nth-child( 1 ) { background: #D1D1E8; }
		.mm-listview li:nth-child( 2 ) { background: #FFFFFF; }
		.mm-listview li:nth-child( 3 ) { background: #E8D7D1; }
		.mm-listview li:nth-child( 4 ) { background: #CCCCB8; }
		.mm-listview li:nth-child( 5 ) { background: #FFF8E5; }
*/
<---- Buttons ---->

@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
    font-family: 'Oswald', sans-serif;
}

.btn-hover {
    margin: -8px 4px 4px 4px;
    cursor: default;
    background: none;
}

.btn-hover:hover {
    background: none;
}

.btn-xs{
    font-weight: 300;
    border: none; 
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
margin-right: 5px;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}





}


/*Attached Pricing */
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }

/*VIDEO CAROUSEL
*/
#video_carousel 
{
  padding: 0 10px 30px 10px;

}

/* Control buttons  */
#video_carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
}
#video_carousel i.fa {
    padding-top: 160px
}
/* Previous button  */
#video_carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#video_carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#video_carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#video_carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#video_carousel .carousel-indicators .active 
{
  background: #333333;
}




/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}